.wrapper{
    background-image: url('./images/space.jpg');
    background-size: cover;    
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, minmax(0,1fr));
    grid-template-rows: repeat(12,minmax(0,1fr));
    position: relative;
    z-index: 1;
}

canvas {
  background: transparent !important;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  pointer-events: none;
}
*, body {
    margin: 0;
    padding: 0;
    cursor: none;
}
.logo-dropdown{
    grid-column: 1/2;
    grid-row: 1/2;
    aspect-ratio: 1/1;
    
    text-align: center;
    justify-content: center;
    align-content: center;
}
.logo-dropdown img{
    width: 75px;
}
.planet-image{
    grid-column: 3/6;
    grid-row: 4/7;
    aspect-ratio: 1/1;
    
   
}
.planet-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
    
}
.context{
    grid-column: 7/12;
    grid-row: 4/12;  
    color: white;
    display: none;
    overflow-y: auto;
}
.context h2{
    text-align: center;
    text-decoration: underline;
    font-size: 30px;
}
.context p{
    font-size: 20px;
    
}
.nav{
    background-color: rgb(128,128,128,.4);
    grid-column: 1/2;
    grid-row: 3/13;
    text-align: center;
    display: none;
    border-radius: 10px;
    font-weight: 900;
}
.nav li{
    margin-bottom: 10px;
    font-size: 25px;
    border-radius: 10px;
    height: 50px;
    justify-content: center;
    align-content:center ;
}
.nav li:hover{
    background-color: darkgray;
}
#Sun{
    background-image: url(./images/sun_emojji.png);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center;
}
#Mercury{
    background-image: url(./images/Mercury_Emoji.png);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center;
}
#Venus{
    background-image: url(./images/Mars_Emojji.png);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center;
}
#Earth{
    background-image: url(./images/Earth_Emoji.png);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center;
}
#Mars{
    background-image: url(./images/Mars_Emojji.png);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center;
}
#Jupiter{
    background-image: url(./images/Jupiter_Emoji.png);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center;
}
#Saturn{
    background-image: url(./images/Saturn_Emojji.png);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center;
}
#Uranus{
    background-image: url(./images/Uranus_Emoji.png);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center;
}
#Neptune{
    background-image: url(./images/Neptune_emoji.png);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center;
}
